.card-img {
    height: 421px;
    width: 297.5px;
    border-radius: 20px;
    margin: 20px;
    background-color: transparent;
}

.container-card-menu {
    padding: 20px;
    text-align: center;
}

.setting-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.loading {
    color: white;
    font-size: 10rem !important;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}