.card-img {
    height: 501px;
    width: 377.5px;
    border-radius: 20px;
    margin: 20px;
    background-color: transparent;
}

.container-card-menu {
    padding: 20px 20px 0 20px;
    text-align: center;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    position: relative;
    top: -20px;
}

.input-filters {
    background-color: black;
    color: #f7dd5c;
    border-color: #f7dd5c;
    border-radius: 0;
}

.input-filters:hover {
    border-color: #f7dd5c;
}

.input-filters .ant-select-selector {
    background-color: black !important;
    color: #f7dd5c !important;
    border-color: #f7dd5c !important;
    border-radius: 0 !important;
}

.input-filters .ant-select-arrow, .input-filters .ant-select-clear {
    color: #f7dd5c !important;
    background-color: black;
}

.input-filters .ant-select-selection-item {
    background-color: #404040;
    border: none;
}

.input-filters .ant-select-selection-item-remove {
    color: #f7dd5c !important;
}

.setting-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.loading {
    color: white;
    font-size: 10rem !important;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.invisible {
    background-color: transparent;
    border: none;
}

.header-background {
    width: 100vw;
    height: 80px;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%);
    position: relative;
    z-index: 10;
}