body {
  background-color: black !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rotate {
  animation: App-logo-spin infinite 2s linear;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center {
  text-align: -moz-center;
  text-align: -webkit-center;
  background-color: #000000c2;
}

.MuiDataGrid-root {
  width: 100%;
}

.MuiDataGrid-main {
  color: white;
}

.MuiDataGrid-footer, .MuiTablePagination-root, .MuiIconButton-label {
  color: white !important;
}

.Mui-selected {
  background-color: rgb(66, 66, 66) !important;
}

.MuiIconButton-root.Mui-disabled {
  color: rgb(150, 150, 150) !important;
}

.d-none {
  display: none;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.m-1, .my-1, .mt-1 {
  margin-top: 1rem;
}

.m-1, .my-1, .mb-1 {
  margin-bottom: 1rem;
}

.m-1, .mx-1, .ml-1 {
  margin-left: 1rem;
}

.m-1, .mx-1, .mr-1 {
  margin-right: 1rem;
}

.m-2, .my-2, .mt-2 {
  margin-top: 2rem;
}

.m-2, .my-2, .mb-2 {
  margin-bottom: 2rem;
}

.m-2, .mx-2, .ml-2 {
  margin-left: 2rem;
}

.m-2, .mx-2, .mr-2 {
  margin-right: 2rem;
}

.p-2, .py-2, .pt-2 {
  padding-top: 2rem;
}

.p-2, .py-2, .pb-2 {
  padding-bottom: 2rem;
}

.p-2, .px-2, .pl-2 {
  padding-left: 2rem;
}

.p-2, .px-2, .pr-2 {
  padding-right: 2rem;
}

.p-1, .py-1, .pt-1 {
  padding-top: 1rem;
}

.p-1, .py-1, .pb-1 {
  padding-bottom: 1rem;
}

.p-1, .px-1, .pl-1 {
  padding-left: 1rem;
}

.p-1, .px-1, .pr-1 {
  padding-right: 1rem;
}

.right {
  float: right;
}

.clickable {
  cursor: pointer;
}

.particles-js {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -10;
  overflow: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.particles-js::-webkit-scrollbar {
  display: none;
}

.particles-js > #tsparticles {
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
